﻿@{
    ViewBag.Title = "DoConnect - Doc Chat";
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="AngularApp" ng-controller="IndexController"  ng-init="initHome(@ViewBag.Authenticated,'@ViewBag.UserName')">
<head>
    <meta name="viewport" content="initial-scale=1">
    <base href="~/">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/Angular")
    <script src="/signalr/hubs"></script>
    @Scripts.Render("~/bundles/AngularApp")
    <link href="~/Content/DoConnect.min.css" rel="stylesheet" />

</head>
<body>
    
    <div class="navbar navbar-default navbar-static-top " role="navigation" ng-show="applicationReady">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="navbarProperties.isCollapsed = !navbarProperties.isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/home" ng-if="currentUser.userType == 'Admin'"><img src="/Assets/Images/DocChat-1.png" height="20px" width="150px" /></a>
                <a class="navbar-brand" href="/#/patientHome" ng-if="currentUser.userType == 'Patient'"><img src="/Assets/Images/DocChat-1.png" height="20px" width="150px" /></a>
                <a class="navbar-brand" href="/#/doctorHome" ng-if="currentUser.userType == 'Doctor'"><img src="/Assets/Images/DocChat-1.png" height="20px" width="150px" /></a>

            </div>
            <div class="navbar-collapse collapse" collapse="navbarProperties.isCollapsed">
                <ul class="nav navbar-nav" ng-show="currentUser.loggedIn">
                    <li class="dropdown" dropdown="" ng-show="userHasPrivileges()">
                        <a href="#" class="dropdown-toggle" dropdown-toggle=""  data-toggle="dropdown">
                            <span>Configuration</span><b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li ng-show="isAllowed('BiometricMaintenance')">
                                <a href="/#/biometric">Biometric Maintenance</a>
                            </li>
                            <li ng-show="isAllowed('RoleMaintenance')">
                                <a href="/#/roleMaintenance">Role Maintenance</a>
                            </li>
                            <li ng-show="isAllowed('UserMaintenance')">
                                <a href="/#/userMaintenance">User Maintenance</a>
                            </li>
                            <li ng-show="isAllowed('PatientMaintenance')">
                                <a href="/#/patientMaintenance">Patient Maintenance</a>
                            </li>
                            <li ng-show="isAllowed('DoctorMaintenance')">
                                <a href="/#/doctorMaintenance">Doctor Maintenance</a>
                            </li>
                          
                        </ul>
                    </li>

                    <li ng-if="currentUser.userType == 'Patient'"><a href="/#/chat/0">Chat</a></li>
                    <li ng-if="currentUser.userType == 'Patient'"><a href="/#/patientBiometric/0">My Biometrics</a></li>
                 

                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="!currentUser.loggedIn">
                    <li>
                        <a href="/#/login">Login</a>
                    </li>
                    <li>
                        <a href="/#/register">Register</a>
                    </li>
                </ul>
               
                <ul class="nav navbar-nav navbar-right" ng-show="currentUser.loggedIn">
                    <li>
                        <a href="/#/myProfile">Welcome {{currentUser.displayName}}</a>
                    </li>
                    
                    <li>
                        <a href="#" ng-click="logout()">Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <toaster-container toaster-options="{'time-out':7000}"></toaster-container>
    </div>

    <div class="container mainContent">
        <div ng-view>

        </div>
    </div>

    <div id="footer" class="center-block">
        <div class="container mainContent">
            <a href="#" class="btn" value="Panic" ng-if="currentUser.userType == 'Patient' && panicEnabled" ng-click="panic()">
                <img src="~/Assets/Images/panicbutton.png" width="50px" height="50px" />
            </a>
        </div>
    </div>

    <script>

      
    </script>

</body>


</html>
